{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

    <h1>Listes des sessions</h1>

    {% for session in sessions %}
        
        <a href="{{ path('show_session', {'id': session.id})}}">{{session}}</a><br>

    {% endfor %}

{% endblock %}
