{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

    <h1 style="text-align: center;">Listes des programmes</h1><br><br>

    

    <h4 style="text-align: center;"><a href="{{ path('add_programme')}}" class="btn btn-primary" style="width: 25%">Ajouter un Programme</a></h4><br><br>

    {% for programme in programmes %}

    {{programme}}
    
    {% endfor %}

{% endblock %}